<div class="credits">
    	
	<div class="large-6 columns">
		<div class="contact">
            <p><span><i class="fa fa-phone-square"></i> <strong>+34 971 151 591</strong></span><br>
            <a href="mailto:info@menorcahomecare.com"><i class="fa fa-envelope"></i> info@menorcahomecare.com</a></p>
        </div>
    	<div class="link-web"><a class="button small" href="http://menorcahomecare.com" target="_blank">MeHoCa Website <i class="fa fa-share"></i></a></div>
    </div>

    <div class="large-6 columns">
    	<div class="poweredby">&copy; Menorca Home Care 2014<br/><br/>Developed by <a href="http://www.memorysoft.es" target="_blank">Memory Soft</a></div>
    </div>

</div>
 