@using Orchard.ContentManagement;

@{
  var userName = ((IContent)Model.ContentItem).As<Orchard.Security.IUser>().UserName;
}
  <!-- Profile Head -->
<div class="profile-head">
    <h1>Profile of <strong>@Html.TitleForPage(userName)</strong></h1>
    <br>
    <br>
</div>