<h1>@Html.TitleForPage(T("Lost Password").ToString())</h1>
<p>Please enter the email of the user that wants to recover the password. <br/>He/She will receive a link to create a new password via email.</p>
@using (Html.BeginFormAntiForgeryPost()) { 
    <fieldset>
        <div>
            @Html.TextBox("username") 
            @Html.ValidationMessage("username") 
        </div>
        <div>
            <button class="primaryAction" type="submit">@T("Send Password Recovery Email")</button>
        </div>
    </fieldset>
 } 