@using System.Web.Mvc;

@{
  // Recogemos el nombre del usuario actual  
  var userName = WorkContext.CurrentUser.UserName;  
  // Creamos las rutas del usuario para el módulo Profile 
  var userProfile = "Profile/" + @userName;
}

<div class="user-display">
    @if (WorkContext.CurrentUser != null) {
        <div class="user-actions welcome right">
            <ul class="user-actions-menu">
                <li>
                    <a class="user-profile-link" href="~/@userProfile"><i class="fa fa-user"></i>@userName</a>
                </li>
                @if (AuthorizedFor(Orchard.Security.StandardPermissions.AccessAdminPanel)) {  
                    if (WorkContext.CurrentUser.UserName == "admin" || WorkContext.CurrentUser.UserName == "manager" || WorkContext.CurrentUser.UserName == "publisher") {
                    <li class="danger"> 
                        <a href="~/Admin" title="Administration zone"><i class="fa fa-cog"></i>ADMINISTRATION</a> 
                    </li> 
                    }
                }
                <li>
                    <a href="~/Users/Account/LogOff?ReturnUrl=~/" title="Sign Out | Salir"><i class="fa fa-arrow-circle-right"></i>LOG OUT</a>
                </li>
                <li><a class="GB" href="~/"><img src="~/Media/Default/Localization/GB.png" alt="Gb"></a></li>
                <li><a class="ES" href="~/es/inicio"><img src="~/Media/Default/Localization/ES.png" alt="Es"></a></li>
            </ul> 
        </div>
    } 
</div>